{% extends "layout.html" %}

{% block content %}

    <h1>{{ form.instance.id|yesno:"Actualizar MiModelo,Crear MiModelo" }}</h1>

    <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-flex justify-content-end gap-2">
            <div>
                <button type="submit" class="btn btn-primary">Grabar</button>
            </div>
            <div class="btn-align-right" onclick="window.location.href='/planes_admin/ver_planes/' ">
                <a class="btn btn-secondary" href="#" role="button">Volver</a>
            </div>
        </div>
    </form>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>
{% endblock %}