<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Plan</title>
</head>
<body>
    <h1>Agregar Nuevo Plan</h1>
    <form action="/planes_admin/agregarplanes/" method="post">
        {% csrf_token %}
        <label for="nombre">Nombre del Plan:</label>
        <input type="text" id="nombre" name="nombre" required><br><br>

        <label for="ano">Año del Plan:</label>
        <input type="number" id="ano" name="ano" required></textarea><br><br>

        <label for="resolucion">Resolución del Plan:</label>
        <input type="text" id="resolucion" name="resolucion" required><br><br>

        <input type="submit" value="Agregar Plan">
    </form>
</body>
</html>