{% extends "layout.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Lista de Planes</h2>
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th>Año</th>
                <th>Resolución</th>
            </tr>
        </thead>
        <tbody>
            {% for plan in planes %}
            <tr>
                <td><a href="/planes_admin/detalle_plan/?plan_id={{ plan.id }}">{{ plan.nombre }}</a></td>
                <td>{{ plan.anio }}</td>
                <td>{{ plan.resolucion }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
,<div class="justify-content-end">
     <style>
        .btn-align-right {
            float: right;
            margin-right: 10px; /* Ajusta según tu preferencia */
        }
    </style>
    <div class="card btn-align-right"  onclick="window.location.href='/planes_admin/agregar_plan/' ">
        <a class="btn btn-primary btn-align-right" href="#" role="button">Crear plan</a>
    </div>

</div>
{% endblock %}