{% extends "layout.html" %}

{% block content %}
    <div class="container mt-4">
        <h2>Lista de Planes</h2>
        <table class="table table-striped">
            <tbody>
            <tr>
                <td>Nombre plan:</td>
                <td>{{ plan.nombre }}</td>
            </tr>
            <tr>
                <td>Agno:</td>
                <td>{{ plan.anio }}</td>
            </tr>
            <tr>
                <td>Resolucion:</td>
                <td>{{ plan.resolucion }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    ,
    <div class="justify-content-end">
        <style>
            .btn-align-right {
                float: right;
                margin-right: 10px; /* Ajusta según tu preferencia */
            }
        </style>
        <div class="card btn-align-right" onclick="window.location.href='/planes_admin/ver_planes/' ">
            <a class="btn btn-primary" href="#" role="button">Volver</a>
        </div>

    </div>
{% endblock %}