{% extends "layout.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Plan</h2>
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>Nombre plan:</td>
                <td>{{ plan.nombre }}</td>
            </tr>
            <tr>
                <td>Agno:</td>
                <td>{{ plan.anio }}</td>
            </tr>
            <tr>
                <td>Resolucion:</td>
                <td>{{ plan.resolucion }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container mt-4">
    <h2>Medidas</h2>
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>Referencia</th>
                <th>Nombre</th>
                <th>Indicador</th>
                <th>Formula</th>
                <th>Frecuencia</th>
                <th>Medio de Verificacion</th>
                <th>Tipo</th>
                <th>Organismo</th>
            </tr>
        </thead>
        <tbody>
            {% for medida in medidas %}
            <tr>
                <td>{{ medida.referencia }}</td>
                <td>{{ medida.nombre }}</td>
                <td>{{ medida.indicador }}</td>
                <td>{{ medida.formula }}</td>
                <td>{{ medida.frecuencia }}</td>
                <td>{{ medida.medio_verificacion }}</td>
                <td>{{ medida.tipo }}</td>
                <td>{{ medida.organismo }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="card btn-align-right"  onclick="window.location.href='/planes_admin/agregar_medida/?plan_id={{plan.id}}' ">
        <a class="btn btn-primary btn-align-right" href="#" role="button">Agregar Medida</a>
    </div>
</div>
<div class="justify-content-end">
     <style>
        .btn-align-right {
            float: right;
            margin-right: 10px; /* Ajusta según tu preferencia */
        }
    </style>
    <div class="card btn-align-right"  onclick="window.location.href='/planes_admin/ver_planes/' ">
        <a class="btn btn-primary btn-align-right" href="#" role="button">Volver</a>
    </div>

</div>
{% endblock %}